.sideBar {
  border: chocolate 1px solid;
  display: none;
  width: 520px;
  /* height: 1024px; */
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  background: #202020;
  width: 100%;
  height: 100%;
  transition: visibility 0s, opacity 0.5s linear; 
  visibility: visible;
  opacity: 1;
}

.sideBar_opened {
  display: flex;
  width: 300px;
}

.sideBar__close {
  background-color: #202020;
  border: 0;
  width: 22px;
  cursor: pointer;
  position: absolute;
  top: 5%;
  right:5%;
}

.sideBar__nav {
  text-decoration: none;
  list-style-type: none;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
}

.sideBar__close:hover{
  opacity:0.6;
}