.moviesCardList {
  grid-area:2/2/3/3;
  display: grid;
  max-width: 1140px;

  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  /* grid-template-columns: repeat(auto-fill, minmax(300px,364px)); */
  column-gap: 24px;
  row-gap: 18px;
  justify-content: center;
}

.moviesCardList__error{
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: khaki;
  align-self: center;
  justify-self: right;
}

.moviesCardList__add_button{
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border:none;
  margin-left: auto;
  margin-right: auto;
}

.moviesCardList__container{
  width: 320px ;
  height: 36px;
 
  border: 1px solid #424242;
  border-radius: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.moviesCardList__container:hover{
  opacity: 0.6;
}


/* @media screen and (max-width:768px) {
  .moviesCardList {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  }
  
} */

@media screen and (max-width:499px) {
  .moviesCardList {
    justify-items: center;
  }
  
}