.AboutProject {
  /* border: 1px solid snow; */
  height: 608px;
  margin-left: 70px;
  margin-right: 70px;
}

.AboutProject__title {
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #ffffff;

  height: 40px;
  border-bottom: 1px solid #dadada;
}

.AboutProject__container {
  display: flex;
  flex-direction: row;
}

.AboutProject__subtitle {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;

  color: #ffffff;
}

.AboutProject__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.AboutProject__progress-backend {
  width: 228px;
  height: 36px;
  background: #3ddc84;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #000000;
}

.AboutProject__progress-frontend {
  width: 912px;
  height: 36px;
  background: #303030;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* text-align: center; */

  color: #ffffff;
}

.AboutProject__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
  margin-right: 380px;
}
