.aboutMe {
  display: grid;
    grid-template-columns: minmax(18px, 70px) 228px 342px 40px 570px minmax(18px, 70px);
    grid-template-rows: 117px 76px 46px 50px 187px 118px;

}

.aboutMe__title {
  grid-row: 1;
    grid-column: 2/6;

  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #ffffff;
  height: 40px;
  border-bottom: 1px solid #dadada;
}

.aboutMe__name {

  grid-row: 2;
  grid-column: 2/3;

  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #ffffff;
  width: 600px;
}

.aboutMe__shortDescription {

  grid-row: 3;
  grid-column: 2/3;

  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  mix-blend-mode: normal;
  width: 600px;
}

.aboutMe__description {

  grid-row: 4;
  grid-column: 2/3;

  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  color: #ffffff;
  width: 600px;
}
.aboutMe__link {

  grid-row: 6;
  grid-column: 2/3;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.aboutMe__link:hover{
  opacity: 0.6;
}

.aboutMe__link:last-of-type{
  grid-row: 6;
  grid-column: 3/4;
}

.aboutMe__avatar{
  width: 270px;
  height: 327px;

  grid-row: 2/6;
  grid-column: 5/6;
}