.NavTab {
  grid-area: 1/1/2/4;
  background: #272727;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 436px 66px;
  margin-left: 40px;
  margin-right: 40px;

}

.NavTab__title {
  grid-area:1/1/2/2 ;
  width: 730px;
  justify-self: center;
  align-self: center;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;

  color: #ffffff;
  margin: 0;

}

.NavTab__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  color: #ffffff;
  background: #303030;
  border-radius: 10px;
  width: 96px;
  height: 36px;
  border: 0;
  padding: 0;

  margin-right: 10px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;

}

.NavTab__link:hover{
    opacity: 0.6;
}

.NavTab__container{
 grid-area: 2/1/3/2;
 display: flex;
 flex-direction: row; 
 list-style-type: none;
 justify-content: center;
 margin: 0;
}
