.portfolio {
  /* margin-left: 70px;
  margin-right: 70px; */
  display: grid;
  grid-template-columns: minmax(18px, 70px) 880px 230px 30px minmax(18px, 70px);
  grid-template-rows: 70px 90px 90px 50px 125px ;
  height: 425px;
}

.portfolio__title {

  grid-row: 1;
  grid-column: 2/3;
  margin: 0;

  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
  mix-blend-mode: normal;
}

.portfolio__subtitle {

  /* grid-row: 2;
  grid-column: 2/4; */

  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin: 0;
  /* border-bottom: 1px solid #dadada; */
  
}

.test{
  grid-row: 2;
  grid-column: 2/5;
  border-bottom: 1px solid #dadada;
}

.test2{
  grid-row: 3;
  grid-column: 2/5;
  border-bottom: 1px solid #dadada;
}

.portfolio__subtitle:last-of-type {
  grid-row: 4;
  grid-column: 2/4;
}

.portfolio__logo{

  grid-row: 2;
  grid-column: 4/5;

  width: 29px;
  height: 60px;
}

.portfolio__logo:last-of-type{
  grid-row: 2;
  grid-column: 4/5;
}

.subtitle1{
  grid-row: 2/3;
  grid-column: 2/3;
}

.subtitle2{
  grid-row: 3/4;
  grid-column: 2/3;
}

.subtitle3{
  grid-row: 4/5;
  grid-column: 2/3;
}

.logo1{
  grid-row: 2/3;
  grid-column: 4/5;
}

.logo2{
  grid-row: 3/4;
  grid-column: 4/5;
}

.logo3{
  grid-row: 4/5;
  grid-column: 4/5;
  margin: 0;
}