.pageNotFound {
  display: grid;
  grid-template-columns: 440px 400px 440px;
  grid-template-rows: 246px 169px 5px 19px 184px 17px 60px;
}

.pageNotFound__title {
  grid-row: 2;
  grid-column: 2/3;
  margin: 0;

  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
  text-align: center;

  color: #ffffff;
}

.pageNotFound__subtitle {
  grid-row: 4;
  grid-column: 2/3;
  margin: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #ffffff;
}

.pageNotFound__submit {
  grid-row: 6;
  grid-column: 2/3;
  margin: 0;

  background-color: #202020;
  border: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;
    cursor: pointer;
  color: #4285f4;
}

.pageNotFound__submit:hover{
    opacity: 0.6;
}
