.login{

}

.register__label{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;

    width: 76px;
    border: 0;
    padding: 0;
    background-color:#202020;
}

.register__label:hover{
    opacity: 0.6;
}
