.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 70px;
  margin-right: 70px;
  max-width: 1280px;
}

.footer__logo{  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  margin-right: 600px;
}

.footer__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8b8b8b;
  margin-top: 79px;
  height: 40px;
  border-bottom: 1px solid #dadada;
}

.footer__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}

.footer__container{
  display: flex;
  flex-direction: row;
}

.footer__link:hover{
  opacity: 0.6;
}