.footer {
  /* display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 70px;
  margin-right: 70px;
  max-width: 1280px; */
  height: 172px;
  display: grid;
  grid-template-columns: minmax(18px, 70px) 70px 340px 320px 147px 140px 62px 61px minmax(18px, 70px);
  grid-template-rows: 79px 36px 20px 16px 20px;

}

.footer__logo{  

  grid-row: 4;
  grid-column: 2/3;
  margin: 0;

  /* font-family: Inter;
  font-style: normal; */
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  /* display: flex;
  flex-direction: row;
  justify-content: left; */
  align-content: center;
  /* margin-right: 600px; */
}

.footer__title {

  grid-row: 2;
  grid-column: 4/5;
  margin: 0;

  /* font-family: Inter;
  font-style: normal; */
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8b8b8b;
  /* margin-top: 79px; */
  /* height: 40px; */
  /* border-bottom: 1px solid #dadada; */
}

.footer__line{
  grid-row: 2;
  grid-column: 2/9;
  border-bottom: 1px solid #dadada;
}

.footer__link {
  /* font-family: Inter;
  font-style: normal; */
  margin: 0;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  justify-self: left;
}

.footer__link:hover{
  opacity: 0.6;
}

.link1{
  grid-row: 4;
  grid-column: 6/7;
}

.link2{
  grid-row: 4;
  grid-column: 7/8;
}

.link3{
  grid-row: 4;
  grid-column: 8/9;
}